<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css')}}">


</head>

<body>
    <h1>Welcome</h1>
    <div class="bigBox">
        {% for i in range(number) %}
    <div class="box" style="background-color: {{changeColor}};"></div>
        {% endfor %}
    </div>
</body>
</html>