#main{
    text-align: center;
    height: 400px;
    width: 100%;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}

#table{
    margin: 0 auto;
}




